# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Testing
.pytest_cache/
.coverage
htmlcov/

# Secrets
.env
*.pem
*.key
service-account*.json
credentials*.json

# Logs
logs/*.log

# Generated data
data/raw/*
data/processed/*
data/outputs/*

# Keep folders visible in Git
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/outputs/.gitkeep